$baseWidth:750px;
    @function px($val) {
        @return $val/$baseWidth*10+rem;
    }
    .goodsList{
        background:#f4f4f4;
        width:100%;
        height:100%;
        overflow: hidden;
        .nav{
            padding:0 px(66px);
            background:#Fff;
            height:px(88px);
            display: flex;
            display: -webkit-flex; /* Safari */
            align-items:center;
            justify-content:space-between;
            border-bottom:1px solid #f4f4f4;
            li{
                display: flex;
                display: -webkit-flex; /* Safari */
                align-items:center;
                span{
                    font-size:px(28px);
                    color:#323232;
                }
            }
            .active{
                span{
                    color:#ff8546;
                }
                i{
                    color:#ff8546;
                }
            }

            .price{
                b{
                    background-image:url('../../../../static/assets/img/cms/price.png');
                    width:px(36px);
                    height:px(36px);
                    background-size:100%;
                }
                .price_top{
                    background-image:url('../../../../static/assets/img/cms/price_top.png');
                }
                .price_bottom{
                    background-image:url('../../../../static/assets/img/cms/price_bottom.png');
                }
            }

            .list{
                b{
                    width:px(36px);
                    height:px(36px);
                    background-size:100%;
                }
                .list_check{
                    background-image:url('../../../../static/assets/img/cms/list.png');
                }
                .list_check_out{
                    background-image:url('../../../../static/assets/img/cms/list_img.png');
                }

            }

            .screen {
                b{
                  background-image:url('../../../../static/assets/img/cms/screen.png');
                  width:px(36px);
                  height:px(36px);
                  background-size:100%;
                  position: relative;
                }
                .screen_check{
                  margin-top: 5px;
                  background-image:url('../../../../static/assets/img/cms/screen_check.png');
                  background-repeat: no-repeat;
                }
                .screen_check_out{
                  background-image:url('../../../../static/assets/img/cms/screen.png');
                }
            }
        }
    }



    .list1 li{
        border-bottom: px(1px) solid #f4f4f4;
        padding-bottom:px(10px);
        overflow: hidden;
        background:#Fff;
        .goods_box{
            display: -ms-flexbox;
            display: flex;
        }

        .goods_left{
            height:100%;
            img{
                width:px(250px);
                height:px(250px);
            }
           .shortStock1 {
             width: px(250px);
             height: px(40px);
             line-height: px(40px);
             font-size: px(18px);
             color: #fff;
             background: rgba(0, 0, 0, 0.3);
             position: absolute;
             bottom: px(20px);
             text-align: center;
           }
          }

        .goods_right{
            width:68%;
            text-align: left;
            padding-left:px(20px);
            display: -webkit-flex; /* Safari */
            display: flex;
            flex-wrap:wrap;
            .goods_title{
                height:px(130px);
            }
            h6{
                margin-top:px(20px);
                font-size:px(28px);
                color:#323232;
                //white-space: nowrap;
                overflow : hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                line-height:px(44px);
                height:px(135px);
            }
            p{
                font-size:px(26px);
                width:100%;
                color:#ff8546;
                text-overflow:ellipsis;
                line-height:px(36px);
            }
            del{
                font-size:px(20px);
                width:100%;
                color:#969696;
                display:block;
            }
        }
    }
    .activity{
        width:100%;
        text-align:center;
        height:px(80px);
        background-color:#fdeed4;
        padding:px(20px) 0;
        p{
            display:block;
            font-size:px(32px);
            line-height:px(45px);
            color:#000;;
        }
        span{
            display:block;
            font-size:px(24px);
            line-height:px(36px);
             color:#646464;
            b{
                color:#ff8546;
            }
        }
    }


    .list2{
        overflow: hidden;
        margin-top:px(10px);
        display: -webkit-flex; /* Safari */
        display: flex;
        flex-wrap:wrap;
        padding:0 px(7px);
        li{
            //margin:0 px(8px);
            margin-left: px(10px);
            background:#fff;
            margin-top:px(10px);
            width:px(346px);
            height:px(544px);
            text-align: left;
            img{
                width:px(346px);
                height:px(346px);
            }
            h6{
                margin-top:px(14px);
                margin-left:px(20px);
                font-size:px(28px);
                color:#323232;
                //white-space: nowrap;
                overflow : hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                line-height:px(44px);
                height:px(88px);
            }
            p{
                margin-left:px(26px);
                font-size:px(24px);
                color:#ff8546;
                text-overflow:ellipsis;
                line-height:px(36px);
            }
            del{
                margin-left:px(20px);
                font-size:px(20px);
                color:#969696;
                display:block;
            }
            .logo {
                position: absolute;
                left: 0px;
                top: px(266px);
                width: px(80px);
                height: px(80px);
            }
            .shortStock1 {
              width:px(346px);
              height: px(40px);
              line-height: px(40px);
              text-align: center;
              font-size: px(18px);
              color: #fff;
              background: rgba(0, 0, 0, 0.3);
              position: absolute;
              bottom: px(200px);
            }
            .shopCart{
              position: absolute;
              right:px(20px);
              bottom:px(14px);
              img{
                width:px(36px);
                height:px(36px)
              }
            }
            .btn{
              background: #ff8546;
              width: px(260px);
              height: px(50px);
              border-radius: 4px;
              color: #fff;
              text-align: center;
              line-height: px(50px);
              margin: 0 auto;
            }
          .disabled{
            background:rgba(0,0,0,0.4);
            width: px(260px);
            height: px(50px);
            border-radius: 4px;
            color: #fff;
            text-align: center;
            line-height: px(50px);
            margin: 0 auto;
          }
        }

    }

    .goods{
        -webkit-overflow-scrolling: touch;
        overflow-y:auto;
    }

    .error{
        padding-top:px(228px);
        text-align: center;
        img{
            width:px(310px);
            height:px(240px);
        }
        p{
            font-size:px(30px);
            color:#646464;
            line-height: px(60px)
        }
    }
.page-loadmore-listitem {
  position: relative;
}

.logo {
  position: absolute;
  left: 0px;
  //top: px(170px);
  bottom: px(20px);
  width: px(80px);
  height: px(80px);
  // background-image: url('../../../../static/assets/img/cms/companyVIP@2x.png');
}

.logo1 {
  background-image: url('../../../../static/assets/img/cms/sale@2x.png');
  background-size: 100%;
}

.logo2 {
  background-image: url('../../../../static/assets/img/cms/VIP@2x.png');
  background-size: 100%;
}
//其他页面的库存紧张样式，暂存
.shortStock{
  font-size:px(18px);
  color: rgb(242,48,48);
  position: absolute;
  right: px(20px);
  bottom: px(28px)
}
.fubi{
  font-size: px(22px)
}
