$baseWidth:750px;
@function px($val) {
    @return $val/$baseWidth*10+rem;
}

#site {
    background: #f4f4f4;
    height: 100%;
}

.top {
    height: px(60px);
    width: px(750px);
    .hint {
        position: absolute;
        margin-left: px(24px);
        margin-top: px(20px);
        margin-bottom: px(20px);
        font-size: px(24px);
        color: #323232;
    }
}

.emailForm {
    height: px(88px);
    width: px(750px);
    background: #fff;
    span {
        float: left;
        margin-left: px(24px);
        margin-right: px(24px);
        font-size: px(28px);
        line-height: px(88px);
        color: #323232;
    }
    input {
        float: left;
        font-size: px(28px);
        line-height: px(88px);
        width: px(500px);
    }
}

.send_btn {
    width: px(702px);
    margin-top: px(42px);
    margin-left: px(24px);
    height: px(88px);
    text-align: center;
    line-height: px(88px);
    color: #fff;
    font-size: px(36px);
    background: #ff8546;
    border-radius: px(10px);
}
